@import url("https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,400;0,500;0,600;1,200;1,400;1,500&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Barlow Condensed";
}

.description {
  display: none;
}

.active + .description {
  display: block;
}

.accordion {
  background-color: #3e244f;
  padding: 1rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.container {
  display: flex;
  flex-direction: column;
  width: 50vw;
  grid-column: 2;
}

.section:hover {
  background-color: rgba(162, 161, 221, 0.5);
  cursor: grab;
}

.section {
  display: flex;
  align-items: center;
  padding: 1rem;
}

.active > i {
  transform: rotateX(180deg);
  transition: 0.5s;
}

i {
  margin: 0.5rem;
}

p {
  margin: 1rem;
}

h1 {
  color: #fbaaae;
  font-size: 4rem;
  text-align: center;
  margin: 2rem;
  grid-column: 2;
}
